h1 {
    color: purple;
    background-color: beige;
    font-size: 20pt;
}

p {
    color: blue;
    font-size: 12pt;
}

/* form.css */

/* 전체 폼 스타일링 */
form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 라벨 스타일링 */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* 입력 필드 스타일링 */
input[type=text],
input[type=email],
input[type=password],
input[type=tel],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#birth {
    /* 스타일링 속성을 여기에 추가하세요 */
    font-size: 16px;
    color: #333;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#birth:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}


/* 버튼 스타일링 */
input[type=submit] {
    background-color: #5f81d1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #8568cf;
}

button[type=reset] {
    background-color: #5fd1a4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

button[type=reset]:hover {
    background-color: #cf6872;
}

/* 폼 그룹 스타일링 */
.form-group {
    margin-bottom: 20px;
}

/* 에러 메시지 스타일링 */
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    color: #000;
}